@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap'); 

/* * {
    padding: 0;
    margin: 0;
} */

body {
    background-color: rgb(0, 0, 0);
color: rgb(255, 255, 255);

font-size: 16px;
font-weight: 600;
font-family:'Roboto', sans-serif;

/* font: normal 16px 'Roboto', sans-serif; */

}

a {
    color:rgb(99, 90, 224);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: rgb(15, 230, 15);
}

/* a:visited {
    color: azure;
} */


/* id - # class - . */

.mainname {
    font-size: 50px;
}

.avatar {
    width: 300px;
    border-radius: 28px;
    box-shadow: 0px 4px 10px rgb(3, 36, 182)
}

.info {
    display: flex;
    margin-bottom: 20px;
}

@media (max-width: 700px) {
    .info {
        text-align: center;
        display: block;
    }
}

.info-text {
    margin-left: 40px;
}

.info-text h4 {
    margin-bottom: 10px;
}

.info p {
font-size: 25px;
color: red;
margin: 0%;
font-style: italic;
letter-spacing: 10px;
text-transform: uppercase;
word-spacing: 5px;
}

/* Box Model */

.container {
    padding-top: 30px;
    max-width: 750px;
    margin: auto
}


 /* .social {
    background: rgb(61, 155, 155);
    padding: 10px 15px 15px 15px;
    margin: 10px; */

    /* border: 5px solid red; 
    border-bottom-style: ; 
    border-top-width: ; 
    border-right-color: blue; 

 }  */

 /* .box-model > div {  
    float: left;
    background: white;
    height: 200px;
    border: 4px solid red;
    width: 25%;
    box-sizing: border-box; 

} */

.palka {
    margin-left:  5px; ;
}

.bg-grey1 {
background: rgb(20, 19, 19);
}

.bg-grey2 {
    background: rgb(20, 15, 19);   
}

.bg-grey3 {
    background: rgb(20, 10, 19); 
}

.bg-grey4 {
    background: rgb(20, 5, 19); 
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.card h2 {
    margin-bottom: 10px;
}

.list {
    padding: 0px 20px;
}

.list li {
    /* color: aqua; */
    margin-bottom: 10px;
    /* border-bottom: ; */
}

.spisok {
    width: 100%;
}

.table tr {
    padding-bottom: 10px;
}

/* .spisok td:nth-child(1), .spisok td:nth-child(2) {
    color: brown;
} */

.link-list {
    list-style:disc;
}

.link-list li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.contact h2 {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 14px;
}

.form-group input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: rgb(255, 255, 255);
    padding: 10px 0px 10px;
    outline: none;
    font-family: inherit;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.row > .form-group {
    width: 50%;
}

.row > .form-group:first-child {
    margin-right: 20px;
}

.btn {
    background: black;
    color: chartreuse;
    padding: 15px 20px;
    cursor: pointer;
}    

.btn:hover {
    opacity:0.5;
}

/* position */

/* .position {
    position: relative;
    border: 4px solid rgb(255, 255, 255);
    margin-top: 40px;
    padding: 20px;
    height: 300px;
    }

.box {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    background: darkgrey;
    } */